In [12]:
from pysus.ftp.databases.sinasc import SINASC
sinasc = SINASC().load() # Loads the files from DATASUS

In [13]:
sinasc

SINASC - Sistema de Informações sobre Nascidos Vivos

In [14]:
sinasc.metadata

{'long_name': 'Sistema de Informações sobre Nascidos Vivos',
 'source': 'http://sinasc.saude.gov.br/',
 'description': ''}

In [15]:
sinasc.get_files("DN", uf="SP") # or multiple ["SP", ...]

[DNSP1996.DBC,
 DNSP1997.DBC,
 DNSP1998.DBC,
 DNSP1999.DBC,
 DNSP2000.DBC,
 DNSP2001.DBC,
 DNSP2002.DBC,
 DNSP2003.DBC,
 DNSP2004.DBC,
 DNSP2005.dbc,
 DNSP2006.DBC,
 DNSP2007.dbc,
 DNSP2008.dbc,
 DNSP2009.dbc,
 DNSP2010.DBC,
 DNSP2011.DBC,
 DNSP2012.DBC,
 DNSP2013.dbc,
 DNSP2014.dbc,
 DNSP2015.dbc,
 DNSP2016.dbc,
 DNSP2017.dbc,
 DNSP2018.dbc,
 DNSP2019.dbc,
 DNSP2020.dbc,
 DNSP2021.dbc,
 DNSP2022.dbc]

In [16]:
files = sinasc.get_files("DN", uf="SP", year=[1999, 2000])
files

[DNSP1999.DBC, DNSP2000.DBC]

In [17]:
from pprint import pprint
for file in files:
    pprint(sinasc.describe(file))

{'group': 'Declarações de Nascidos Vivos',
 'last_update': '2020-01-27 12:12PM',
 'name': 'DNSP1999.DBC',
 'size': '14.3 MB',
 'uf': 'São Paulo',
 'year': 1999}
{'group': 'Declarações de Nascidos Vivos',
 'last_update': '2020-01-27 12:12PM',
 'name': 'DNSP2000.DBC',
 'size': '14.3 MB',
 'uf': 'São Paulo',
 'year': 2000}

In [18]:
sinasc.download(files) # Downloads to default directory or specify with `local_dir=`

DNSP2000.parquet: 100%|██████████| 523k/523k [00:14<00:00, 37.2kB/s]

[/home/marcelo/pysus/DNSP1999.parquet, /home/marcelo/pysus/DNSP2000.parquet]

In [19]:
parquet = sinasc.download(files)[0]

100%|██████████| 14.3M/14.3M [00:00<00:00, 5.38GB/s]

In [20]:
parquet.to_dataframe()

,contador,LOCNASC,CODMUNNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,CODMUNRES,...,GRAVIDEZ,PARTO,CONSULTAS,DTNASC,SEXO,APGAR1,APGAR5,RACACOR,PESO,CODANOMAL
0,60001,1,3534401,32,9,5,,00,00,3505708,...,1,2,4,29011999,2,08,09,1,3100,
1,60002,1,3505708,22,9,2,,00,00,3505708,...,1,2,4,01011999,2,09,10,1,3200,
2,60003,1,3505708,19,9,4,,01,00,3505708,...,1,1,9,31011999,2,,,1,2700,
3,60004,1,3505708,22,9,2,,02,00,3505708,...,1,2,4,11011999,1,07,09,4,3600,
4,60005,2,3525003,32,9,2,,01,00,3505708,...,1,2,9,05011999,1,,,4,3100,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714423,179996,1,3550308,30,9,2,,99,99,3525003,...,1,1,9,27041999,1,08,09,,2900,
714424,179997,1,3550308,34,9,3,,03,00,3525003,...,1,2,9,20041999,2,09,09,,1600,
714425,179998,1,3505708,17,9,2,,00,00,3505708,...,1,1,4,22031999,1,08,09,1,2400,
714426,179999,1,3505708,22,9,4,,00,00,3505708,...,1,1,9,23031999,2,,,,2200,
714427,180000,1,3505708,17,9,3,,00,00,3505708,...,1,1,4,02041999,1,09,09,1,3000,